<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <!-- VERTICAL NAVIGATION -->

        <nav class="navbar navbar-inverse navbar-fixed-left navbar-light p-0">
            <div class="brand-section py-2 text-center">
                <a class="navbar-brand pl-3 text-primary" href="#">
                    <span class="fa fa-american-sign-language-interpreting"></span>
                    <span class="font-weight-light">flash</span><span class="font-weight-bold">bart</span>
                </a>
            </div>
            <ul class="nav navbar-nav font-weight-bold" aria-orientation="vertical">
                <li class="pl-3">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <span class="fa fa-home" aria-hidden="true"></span> Home
                    </a>
                </li>
                <li class="pl-3">
                    <a class="nav-link text-primary" href="#" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <span class="fa fa-window-restore" aria-hidden="true"></span>
                        Flashcards
                    </a>
                </li>
                <li class="pl-3">
                    <a class="nav-link text-dark" id="v-pills-messages-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <span class="fa fa-brain" aria-hidden="true"></span> Learning
                    </a>
                </li>
                <li class="pl-3">
                    <a class="nav-link text-dark" id="v-pills-settings-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="fa fa-list-alt" aria-hidden="true"></span> Test
                    </a>
                </li>
                <li class="pl-3">
                    <a class="nav-link text-dark" id="v-pills-settings-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="fa fa-info-circle" aria-hidden="true"></span> How to use?
                    </a>
                </li>
            </ul>
        </nav>

        <!-- END VERTICAL NAVIGATION -->

        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
