.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 290px;
  height: 120px;
  background-color: #ffffff;
  border-right: 1px solid #e1e4e4;
  border-top: 1px solid #e1e4e4;
  padding-top: 25px;
}

.footer-icon {
  font-size: 30px;
}