.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 320px;
  height: 150px;
  background-color: #ffffff;
  border-right: 1px solid #e1e4e4;
  border-top: 1px solid #e1e4e4;
}

.footer-icon {
  font-size: 30px;
}